<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium arcu risus. Phasellus non justo et orci pellentesque porttitor et sit amet ante. Sed at tristique lectus. Cras vitae lorem mattis, posuere metus eu, rutrum augue. Curabitur a gravida tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris efficitur risus in dui cursus finibus. Ut vulputate erat sit amet purus suscipit, in pretium tortor fringilla. Suspendisse vehicula non lorem sed commodo. Quisque quis feugiat massa, sit amet facilisis purus.
    </p>


    <p class="lead fw-bold">
      Quer começar a vender pelo MEAT? Cadastre seu restaurante <a href="#">AQUI</a>
    </p>


  </section>
<!-- FIM DO CONTEÚDO -->
