<div class="menu-item-info-box" [@menuItemAppeared]="menuItemState">
  <span class="menu-item-info-box-icon">
    <img [src]="menuItem.imagePath"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <span class="menu-item-info-box-detail">{{menuItem.description}}</span>
    <span class="menu-item-info-box-price">R$: {{menuItem.price}},00</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>
<!-- <div class="menu-item-info-box">
  <span class="menu-item-info-box-icon">
    <img src="..\assets\img\foods\bread.png"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">PAO</span>
    <span class="menu-item-info-box-detail">PAO DE QUEIJO</span>
    <span class="menu-item-info-box-price">2,99</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>

</div>

<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon">
    <img src="..\assets\img\foods\cake.png"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">PAO</span>
    <span class="menu-item-info-box-detail">PAO DE QUEIJO</span>
    <span class="menu-item-info-box-price">2,99</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>


</div> -->
