 
 <!-- INÍCIO DO CONTEÚDO -->
 <section class="content-header" style="padding-bottom: 80px;">
</section>

<section class="content"  >

  <div >
     <h1 class="text-end fw-bold" style="font-size: 70px;">Bem vindo ao Meat!</h1>
     <p style="font-size: 30px;">
       Está com fome? Peça e receba em casa.
     </p>
     <a class="btn btn-lg" style="background-color: rgb(212, 24, 71); color:white; font-size: 25px; ;" [routerLink]="['/restaurant']">Ver Restaurantes</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->